<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Pole dance | Oh my Pole</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="../index.html" class="ohmypole-logo">
                <img src="../assets/images/ohmypole-logo.png" alt="Oh my pole">
            </a>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="quienessomos.html">Quiénes somos</a></li>
                <li><a href="poledance.html">Pole dance</a></li>
                <li><a href="poleexotic.html">Pole exotic</a></li>
                <li><a href="polekids.html">Pole kids</a></li>
                <li><a href="aereos.html">Aéreos</a></li>
                <li><a href="tarifas.html">Tarifas</a></li>
            </ul>
            <button class="acceder" onclick="window.location.href='acceder.html'">Acceder</button>
            <button class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>
    <main>
        <div class="poledance">
            <section class="beneficios">
                <h2>Beneficios físicos y emocionales del Pole dance</h2>
                <h3>¡Cuidado! ¡Es altamente adictivo y motivador!</h3>
                <p>Amamos mucho lo que hacemos, y lo transmitimos en cada clase. Nuestro objetivo es que te enamores de
                    este deporte igual que lo estamos nosotras y que llegues a lograr aquello que nunca creiste que
                    lograrias. Sentirse fuerte y capaz en la barra puede traducirse en una mayor confianza en otras
                    áreas de la vida. Además de los beneficios físicos, el pole dance mejora el estado de ánimo, reduce
                    el estrés y aumenta la autoestima. El pole dance es inclusivo y accesible para personas de todas las
                    edades, géneros y niveles de habilidad. Cada persona puede progresar a su propio ritmo y encontrar
                    su estilo único.</p>
            </section>
            <section class="maravilloso">
                <h2>Es un deporte maravilloso porque…</h2>
                <p>Es un ejercicio completo que trabaja todo el cuerpo, la coordinación y la conciencia corporal. Ayuda
                    a desarrollar fuerza, flexibilidad y resistencia, lo que lleva a una transformación física notable.
                    Es una actividad divertida en la que el entrenamiento se pasa volando. En clase el ambiente es de
                    camaradería y apoyo. Los alumnos se animan mutuamente, lo que fomenta un sentido de comunidad y
                    pertenencia. Una conexión contigo mismo y una desconexión del estrés y las tensiones. Y lo mejor de
                    todo: no hay límites. No importa la edad, el género o el nivel de experiencia, en Oh My Pole nos
                    adaptamos a cada persona, permitiéndote avanzar a tu propio ritmo y descubrir tu estilo único en el
                    proceso.</p><br>
                <p>El pole dance combina ejercicio, arte, comunidad y empoderamiento, lo que lo convierte en una
                    disciplina verdaderamente maravillosa. ¿Te gustaría saber más sobre cómo empezar?</p>
            </section>
        </div>
    </main>
    <section class="contacto">
        <h2>Contacto</h2>
        <div class="contacto-container">
            <div class="info-contacto">
                <p><strong>Oh my Pole</strong></p>
                <p>Calle Aneto, 17, 28044, Fuenlabrada, Madrid</p>
                <p>
                    <a href="mailto:info@ohmypole.es">
                        <i class="fa-regular fa-envelope"></i>
                        <strong>info@ohmypole.es</strong>
                    </a>
                </p>
            </div>
            <div class="redes">
                <a href="https://www.instagram.com/oh_my_pole_studio?igsh=c2FpZm5iMXFoYXc3">
                    <i class="fa-brands fa-instagram"></i>
                    Oh my Pole
                </a>
                <p>
                    <a href="https://wa.me/34645531072" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                        (+34)645531072
                    </a>
                </p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <p>© 2025 ohmypole–Todos los derechos reservados.</p>
            <p>Diseñada con ♡ por Patricia Ortiz</p>
        </div>
    </footer>
    <script src="../js/scripts.js"></script>

</body>

</html>