<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Pole kids | Oh my Pole</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="../index.html" class="ohmypole-logo">
                <img src="../assets/images/ohmypole-logo.png" alt="Oh my pole">
            </a>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="quienessomos.html">Quiénes somos</a></li>
                <li><a href="poledance.html">Pole dance</a></li>
                <li><a href="poleexotic.html">Pole exotic</a></li>
                <li><a href="polekids.html">Pole kids</a></li>
                <li><a href="aereos.html">Aéreos</a></li>
                <li><a href="tarifas.html">Tarifas</a></li>
            </ul>
            <button class="acceder" onclick="window.location.href='acceder.html'">Acceder</button>
            <button class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>
    <main>
        <div class="polekids">
            <section class="definicionkids">
                <h2>Pole kids</h2>
                <p>El Pole Kids es una disciplina que combina juego, movimiento y desarrollo físico en un entorno
                    divertido y seguro.</p>
            </section>
            <section class="beneficioskids">
                <h2>Beneficios físicos y emocionales del Pole kids</h2>
                <h3>Deporte, juego y confianza desde pequeños</h3>
                <p>Pole Kids es la forma más divertida y segura de que los niños descubran la importancia de llevar una
                    vida activa y saludable. A través de juegos, ejercicios adaptados y mucha creatividad, los peques
                    desarrollan fuerza, coordinación y disciplina, mientras disfrutan cada momento de la clase. Durante
                    las sesiones, los niños trabajan habilidades físicas esenciales: fuerza en brazos y core, siempre de
                    manera progresiva y sin riesgos; coordinación y equilibrio, fundamentales para su desarrollo motor y
                    seguridad; y flexibilidad, que mejora su postura, movilidad y previene lesiones. Pero Pole Kids no
                    solo se centra en el cuerpo: también potencia aspectos emocionales y sociales que acompañarán a los
                    niños toda la vida. Aprenden a tener confianza en sí mismos al superar movimientos que al principio
                    parecían imposibles, a gestionar el esfuerzo comprendiendo que la práctica y la constancia dan
                    resultados, a desarrollar su creatividad convirtiendo cada figura en un juego, y a fomentar el
                    trabajo en equipo, apoyando, animando y celebrando los logros de sus compañeros.</p>
            </section>
            <section class="maravillosokids">
                <h2>¿Por qué elegir Pole Kids?</h2>
                <p>Si buscas una actividad que combine deporte, disciplina, diversión y crecimiento personal, Pole Kids
                    es perfecto para que los niños descubran:</p>
                <ul>
                    <li>Lo que su cuerpo puede lograr.</li>
                    <li>La satisfacción de superarse.</li>
                    <li>La importancia del esfuerzo y la constancia.</li>
                </ul>
                <p>Todas las clases se realizan en un entorno adaptado a su edad, con instructores que acompañan cada
                    movimiento, asegurando que la experiencia sea segura, divertida y enriquecedora.</p>
            </section>
        </div>
    </main>
    <section class="contacto">
        <h2>Contacto</h2>
        <div class="contacto-container">
            <div class="info-contacto">
                <p><strong>Oh my Pole</strong></p>
                <p>Calle Aneto, 17, 28044, Fuenlabrada, Madrid</p>
                <p>
                    <a href="mailto:info@ohmypole.es">
                        <i class="fa-regular fa-envelope"></i>
                        <strong>info@ohmypole.es</strong>
                    </a>
                </p>
            </div>
            <div class="redes">
                <a href="https://www.instagram.com/oh_my_pole_studio?igsh=c2FpZm5iMXFoYXc3">
                    <i class="fa-brands fa-instagram"></i>
                    Oh my Pole
                </a>
                <p>
                    <a href="https://wa.me/34645531072" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                        (+34)645531072
                    </a>
                </p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <p>© 2025 ohmypole–Todos los derechos reservados.</p>
            <p>Diseñada con ♡ por Patricia Ortiz</p>
        </div>
    </footer>
    <script src="../js/scripts.js"></script>
</body>

</html>